:root {
    --color_principal: #583131;
    --bg-principal: rgb(224, 217, 217);
}
body {
    background-color: var(--bg-principal);
}

.padding-30 {
    padding-bottom: 5%;
    padding-top: 5%;
}

.bg-navbar {
    background-color: rgb(161, 123, 123);
    color: rgb(255, 255, 255);
}
.nav-link {
    color: rgb(255, 255, 255);
}
.nav-link:hover {
    color: rgb(211, 198, 198);
}

.btn-primary {
    background-color: var(--color_principal);
    border-color: var(--color_principal);
}
.imgIcon{
    padding-right: 3%;
}
